$max-width: 768px;
$top-h: 56px;
$bottom-nav-h: 57px;
$bottom-btn-h: 80px;
$tab-h: 48px;
$layout-pd-lr: 0 16px;
$border-bt-color: #f0f0f0;
$color-blue: #1942F4;
$color-mint: #00ADA1;
$bg-color: #eeeeee;
$font-body-size: 16px;
$font-size: 16px;
